.Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10px;
}

.Centre {
  text-align: center;
}

.WhiteSpace {
  white-space: nowrap;
}

.Left {
  text-align: left;
  padding-left: 50px;
}

.BoxFlex {
  padding-left: 20px;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Right {
  text-align: right;
  padding-right: 50px;
}

.Row {
  flex-direction: row;
}

.Col {
  flex-direction: column;
}

.LineSpacing {
  line-height: 5;
}

.profileIcon {
  width: 100px;
  height: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


